### <a name="index"></a>Index

[Algunos Conceptos Generales](#mark_01)

[Consideraciones de ETL](#mark_02)

[Servicios y herramientas para ETL](#mark_03)

[Actividad Previa a la Ingesta de Datos](#mark_04)

[Ingesta de datos](#mark_05)

[Transformaci贸n](#mark_06)

[Carga - Load](#mark_07)

   - [Crear, cl煤ster, base de datos en AWS Redshift y un bucket en S3](#mark_08)

   - [Crear tablas en AWS Redshift](#mark_09)

   - [Carga](#mark_10)

   - [Estructurar sentence para carga de datos de S3 a Redshift](#mark_11)

[Pentaho Pipeline](#mark_12)

   - [Extracci贸n](#mark_13)

   - [Extracci贸n de CSV File](#mark_14)

   - [Extracci贸n de JSON File](#mark_15)

   - [CVS "Codes" FileTransformaci贸n](#mark_16)

   - [Postgres DDBB Transformaci贸n-Dimensiones y selecci贸n final](#mark_18)

   - [Carga de datos en Redshift](#mark_19)

# <a name="mark_01"></a>Algunos Conceptos Generales: 
### [Index](#index)

Conceptos

* Source (fuente): 
De d贸nde voy a sacar los datos, estructuradas, no estructuradas, APIs, CRM.

* Target (Objetivo): 
donde voy a cargar el proceso de ETL, por lo general base de datos unificada columnar (snowflake, redshift, big query) o transaccionales (Oracle, postgreSQL, mysql).

* Staging: 
Area de paso (suele ser en memoria), d贸nde se van a hacer transformaciones. Se pueden guardar en bases de datos para luego retomar la transformaci贸n y proceder al load.

* Data Warehouse: 
Bodega de datos, almacenar datos de una manera definida.

* [Star model](https://towardsdatascience.com/star-schema-924b995a9bdf): 
Una manera de cargar todas las fuentes y estructuras al Data Warehouse. una tabla con solo m茅tricas importante, y tablas alrededor llamadas dimensiones (se conectan con las metrices usualmente con Foreign key).

El modelo estrella se compone de una tabla central llamada tabla de hechos, que contiene informaci贸n cuantitativa y num茅rica (como ventas, ingresos, cantidad de productos vendidos, etc.) y varias tablas dimensionales que contienen informaci贸n descriptiva y contextual (como fecha, hora, ubicaci贸n, productos, clientes, etc.).

* Data Lake: 
Repositorio d贸nde se manda informaci贸n, formato nativo o raw de los datos (datos sin modificaciones, c贸mo los genera el origen). Se guarda en disco duro.

* Data Lakehouse (Delta-Lake):
Data Warehouse + Data Lake: se guarda de manera raw de los datos, pero se tiene una capa de consulta (sql, spark) para realizar anal铆tica sin mover los datos. Se una con el proceso ELT.

![etl_elt](https://cdn.filestackcontent.com/auto_image/resize=width:700,height:350,fit:crop/compress/cache=expiry:max/qZu81OW0TwGL9mPvDHYs)

# <a name="mark_02"></a>Consideraciones de ETL: 
### [Index](#index)

- Asegurar la calidad de los datos
- Tener claro las fuentes y los objetivos
- Definir si mi ETL sera en Batch (cada 20 min) o Streaming (en menos de 1 seg)
- Definir si mi ETL sera incremental o total
- La documentaci贸n

# <a name="mark_03"></a>Servicios y herramientas para ETL: 
### [Index](#index)

- Pentaho (open source)
- Pandas
- IBM Data Stage
- Oracle Data Integrator
- Azure
- AWS
- Google Dataflow
- talend
- SINGER
- nifi
- python
- SQL
![](https://static.platzi.com/media/user_upload/1-4fcdf413-07ea-430e-ad51-13f72e1a7e79.jpg)
![](https://static.platzi.com/media/user_upload/2-72198f5a-d36f-44cd-87cb-fda7ef7f4e4a.jpg)
![](https://static.platzi.com/media/user_upload/3-212c86bd-d790-46ff-986a-23a194fbf316.jpg)
![](https://static.platzi.com/media/user_upload/4-b697969a-37e2-491c-913b-cb1d91ffaa2c.jpg)

# <a name="mark_04"></a>Actividad Previa a la Ingesta de Datos: 
### [Index](#index)

https://platzi.com/clases/6211-fundamentos-etl/60033-configuracion-de-ambiente-para-etl-con-python/

隆Hola! En esta clase conocer谩s c贸mo configurar una base de datos con SQL, que ser谩 una de las 3 fuentes para extraer datos en el proyecto de ETL. Las otras dos fuentes son un archivo JSON y otro CSV que conocer谩s en clases posteriores.

Adem谩s, conocer谩s c贸mo conectarte a esta base de datos OLTP con un software de administraci贸n de bases de datos. Puede ser DataSpell, DBeaver o el de tu preferencia.

Te sugiero usar DataSpell. M谩s adelante de este tutorial ver谩s c贸mo configurarlo.

Algo que tenemos que destacar es que la base de datos SQL source no se tendr铆a que crear en un proceso de ETL. Esta base de datos ya estar铆a creada en alg煤n lado de la infraestructura de los sistemas y aplicaciones de la empresa donde est茅s colaborando.

En este caso lo estamos haciendo por fines educativos para que tengas una base de datos de donde tomar datos y conozcas el proceso de extracci贸n.

Para la configuraci贸n de nuestra base de datos source usaremos PostgreSQL. Podemos utilizarlo de dos formas, una instalaci贸n local de PostgreSQL o una configuraci贸n por Docker. Te sugiero hacerlo por Docker.

1. Crear container en Docker
Recordemos que Docker es un entorno de gesti贸n de contenedores, de manera que usaremos una imagen base con toda la configuraci贸n que requerimos sin instalar necesariamente en nuestra m谩quina. Solo utilizando los recursos del sistema para correr dicha imagen, algo similar a una m谩quina virtual.

Por ahora, solo necesitas haber tomado el Curso de Python: PIP y Entornos Virtuales para conocer lo esencial de c贸mo usar esta herramienta con Python. En ese curso encontrar谩s la clase para saber c贸mo instalarlo en tu computador.

Una vez que tengas instalado Docker en tu computador, ejecuta este comando en tu terminal:

WSL 2, Linux o macOS
```bash
sudo docker run -d --name=postgres -p 5432:5432 -v postgres-volume:/var/lib/postgresql/data -e POSTGRES_PASSWORD=mysecretpass postgres
```
Windows
```bash
docker run -d --name=postgres -p 5432:5432 -v postgres-volume:/var/lib/postgresql/data -e POSTGRES_PASSWORD=mysecretpass postgres
```
Como podr谩s notar, en este comando se espec铆fico lo siguiente para la creaci贸n de la base de datos con Docker:

Nombre del container: --name=postgres
Puerto a compartir con la m谩quina local: -p 5432:5432
Volumen para el manejo de disco e informaci贸n: -v postgres-volume:/var/lib/postgresql/data
Password en PostgreSQL: POSTGRES_PASSWORD=mysecretpass
1.5 Instalaci贸n local de PostgreSQL (opcional)
De no usar Docker podr铆as ver la clase del curso de PostgreSQL en donde aprendes a instalarlo localmente, pero te sugiero intentarlo con Docker ya que puede agilizar tu flujo de trabajo. 

2. Validar container creado
Una vez que hayas creado el container de Docker usa el comando docker ps en tu terminal. Podr谩s ver todos los contenedores que se encuentran en ejecuci贸n actualmente y una descripci贸n.

Deber谩s ver la IMAGE postgres.

etl01.png
3. Configurar DataSpell
Para conectarte a la base de datos usar谩s un software de administraci贸n de bases de datos. Existen varios que puedes utilizar. Para el seguimiento del curso te sugiero utilizar DataSpell o, en su defecto, DBeaver.

DataSpell es un IDE completo para ciencia de de datos donde, adem谩s de conectarte y hacer consultas a bases de datos, podr谩s ejecutar Jupyter Notebooks. 隆Todo en el mismo lugar! 

dataspell.png
 Una de sus desventajas es que es de pago, pero tiene un per铆odo de prueba de 30 d铆as para que lo pruebes con este curso. Adem谩s existen ciertas opciones para obtener licencias para estudiantes de bachillerato y universidad.

锔Λ En caso de que decidas usar DBeaver en lugar de DataSpell, utiliza tu entorno local de Jupyter Notebooks con Anaconda para la ejecuci贸n del c贸digo Python de las siguientes clases. 

Instalaci贸n de DataSpell
Para instalar DataSpell ve a su sitio web aqu铆 y descarga la versi贸n para tu sistema operativo.

Inst谩lalo siguiendo las instrucciones que te aparezcan en el instalador.

锔 Cuando te solicite actualizar PATH Variable acepta marcando la opci贸n que te indique. Esto es para evitar errores de ambientes en el futuro. En Windows se ve as铆:

PATH.png
Al finalizar te pedir谩 reiniciar el computador:

restar_dataspell.png
Abre DataSpell ya que se haya instalado. Al hacer esto por primera vez te pedir谩 iniciar sesi贸n. Elige la versi贸n free trial registrando tu cuenta para ello.

Una vez que tengas tu cuenta configurada te pedir谩 elegir un int茅rprete de Python .

Previamente deber谩s tener instalado Anaconda en tu sistema operativo. Te recomiendo que crees un ambiente de Anaconda (Conda environment) 煤nico para el proyecto del curso. Llama al ambiente fundamentos-etl.

Elige el ambiente de Anaconda que usar谩s para el proyecto y presiona el bot贸n Launch DataSpell.

Welcome to DataSpell 13_03_2023 04_36_58 p. m..png
Elegir un int茅rprete de Anaconda servir谩 para ejecutar Jupyter Notebooks en DataSpell.

Crea un nuevo Workspace en DataSpell. Presiona el bot贸n File en la barra superior y luego elige la opci贸n New Workspace Directory.
new_workspace_directory.png
Llama fundamentos-etl al workspace y presiona el bot贸n azul Create.

new_etl_workspace.png
Elegir ambiente de WSL2 (opcional si usas WSL)
Si quieres usar DataSpell con tu entorno en Windows con WSL 2, deber谩s conectar DataSpell al ambiente de Anaconda que tenga tu WSL.

Crea un ambiente de Anaconda en tu WSL dedicado al proyecto de tu curso si todav铆a no lo has hecho. Ll谩malo fundamentos-etl
conda create --name fundamentos-etl python=3.9
Despu茅s ve a DataSpell en su parte inferior donde aparece el int茅rprete. Presiona la direcci贸n que aparece y elige la opci贸n Interpreter Settings.
elegir_interprete_dataspell.png
Escoge el workspace fundamentos-etl creado anteriormente en DataSpell.
锔OJO: el workspace y el Anaconda Environment no son lo mismo. El Anaconda Environment lo vamos a cargar dentro del Workspace de DataSpell.

Despu茅s presiona el bot贸n Add Interpreter e inmediatamente selecciona la opci贸n On WSL.

elegir_interprete_wsl_dataspell.png
Elige la distribuci贸n de Linux a usar y da clic en el bot贸n Next cuando aparezca el mensaje "Instrospection completed succesfully!
wsl instrospection.png
Elige el int茅rprete a usar. Este puede ser un Virtualvenv Environment, el System Interpreter o un Conda Environment. Elige la opci贸n de Conda Environment.
select_interpreter.png
Mara la casilla Use existing environment. Elige el Conda Environment de WSL que usar谩s para tu proyecto. Anteriormente debiste crearlo desde tu terminal en WSL y llamarlo fundamentos-etl.

Finalmente, presiona el bot贸n azul Create.

conda-fundamentos-etl-environment.png
Para terminar el proceso presiona el bot贸n azul OK en la parte inferior.
workspace 13_03_2023 05_03_56 p. m..png
Listo, ya deber谩 aparecer tu entorno de Anaconda en WSL cargado en la parte inferior de DataSpell.
ambiente-cargado.png
锔Si te aparece un error que indique que el ambiente no puede ser usado como el int茅rprete del workspace es porque est谩s intentando cargar el ambiente en el workspace general y no en un workspace de DataSpell que creaste.

Aqu铆 encuentras la gu铆a oficial de c贸mo conectar tu DataSpell al int茅rprete de Python o Anaconda en WSL, por si necesitas aprender a configurarlo a detalle.

Recuerda que otra alternativa en Windows es instalar Anaconda para Windows y conectar DataSpell directamente a esta versi贸n.

4. Conexi贸n a la base de datos PostgreSQL
Sigue estos pasos para conectarte a la base de datos postgres desde DataSpell.

Abre DataSpell en tu computador.
dataspell.png
Ve a la pesta帽a de Database y en ella da clic en el bot贸n de signo de +.
database_dataspell.png
Selecciona la opci贸n de Data Source y dentro del men煤 desplegable elige la opci贸n de PostgreSQL.
workspace 3_2_2023 7_48_03 PM.png
Introduce los datos siguientes en la conexi贸n:
Name: local_postgres
Host: localhost
Port: 5432
User: postgres
Database: postgres
Url (opcional): jdbc:postgresql://localhost:5432/postgres
Password: mysecretpass
Da clic en el bot贸n de Test Connection para probar la conexi贸n. Puede que te solicite actualizar unos drivers, ac茅ptalos. Una vez que indique que la conexi贸n es exitosa, da clic en el bot贸n OK.
etl02.png
Listo, ya tienes tu base de datos conectada en DataSpell.
postgresdataspell.png
4. Cargar datos en la base de datos Postgres
Dentro de DataSpell, ya con la conexi贸n a la base de datos previamente creada, ejecutar谩s el script postgres_public_trades.sql.

Desc谩rgalo aqu铆 de Google Drive. 

锔Este archivo pesa cerca de 500 MB, por lo que puede demorar su descarga. Contiene la creaci贸n de una tabla llamada trades y los insert de registros de la tabla.

锔Es posible que al intentar correr este script en DBeaver no sea posible por falta de memoria. Te sugerimos cortarlo en varias partes y cargar cada script independientemente.

etl03.png
Una vez descargado el archivo postgres_public_trades.sql sigue estos pasos para cargar los datos con DataSpell:

Da clic derecho sobre la base de datos de PostgreSQL.
etl04.png
Posteriormente da clic en SQL Script y luego en Run SQL Scripts.
dataspell_run_sql_script.png
Ubica el script descargado dentro de tu computador y da clic en OK.
etl06.png
锔La creaci贸n de la tabla y la carga de datos puede demorar cerca de 15-20 minutos en DataSpell.

script_sql_done.png
5. Prueba la tabla trades
Una vez terminada la ejecuci贸n del script, consulta la tabla Trades ya cargada. Abre el editor de queries desde tu base de datos en DataSpell e ingresa la siguiente consulta:

SELECT * FROM trades;
etl07.png
隆Listo! Ya tienes lo esencial para comenzar a extraer datos de una base de datos OLTP y correr tus notebooks de Python.

# <a name="mark_05"></a>Ingesta de datos: 
### [Index](#index)

In [6]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
#engine=create_engine('postgresql+psycopg2://postgres:Postgresql_3967@localhost/postgres')
engine=create_engine('postgresql+psycopg2://postgres:mysecretpass@localhost/postgres')

Creando una instancia de la clase `Engine` en SQLAlchemy para conectarse a una base de datos PostgreSQL utilizando el dialecto `psycopg2`.

Aqu铆 est谩 la explicaci贸n paso a paso:

1. `create_engine`: Esto es una funci贸n proporcionada por SQLAlchemy que se utiliza para crear una instancia de la clase `Engine`.

2. `'postgresql+psycopg2://`: Esto define el dialecto y el controlador que se utilizar谩 para conectarse a la base de datos PostgreSQL. `'postgresql'` es el dialecto que representa a PostgreSQL, y `'psycopg2'` es el controlador de base de datos que se utilizar谩 para comunicarse con PostgreSQL.

3. `postgres:mysecretpass@localhost/postgres'`: Esta parte es la cadena de conexi贸n, que contiene la informaci贸n necesaria para conectarse a la base de datos. Aqu铆 est谩n los detalles:

   - `postgres`: Este es el nombre de usuario de la base de datos al que se conectar谩.
   - `mysecretpass`: Esta es la contrase帽a del usuario.
   - `localhost`: Esta es la direcci贸n del servidor de la base de datos. En este caso, est谩 configurado para el mismo sistema en el que se est谩 ejecutando el c贸digo, lo que indica que la base de datos se encuentra en la misma m谩quina.
   - `postgres`: Este es el nombre de la base de datos a la que se conectar谩.

En resumen, esta sentencia crea una instancia de la clase `Engine` que se utilizar谩 para conectarse a una base de datos PostgreSQL utilizando el dialecto `psycopg2`. Se proporciona la informaci贸n necesaria en la cadena de conexi贸n para autenticarse en el servidor de la base de datos y acceder a la base de datos espec铆fica.

In [7]:
df_trades=pd.read_sql('select * from trades', engine)
df_trades

OperationalError: (psycopg2.OperationalError) could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [8]:
df_countries=pd.read_json("sources/country-data.json")
df_countries

,country,images_file,image_url,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,Flag_of_Afghanistan.svg,https://upload.wikimedia.org/wikipedia/commons...,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN
1,Albania,Flag_of_Albania.svg,https://upload.wikimedia.org/wikipedia/commons...,AL,ALB,8.0,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN
2,Algeria,Flag_of_Algeria.svg,https://upload.wikimedia.org/wikipedia/commons...,DZ,DZA,12.0,ISO 3166-2:DZ,Africa,Northern Africa,None,2.0,15.0,NaN
3,Andorra,Flag_of_Andorra.svg,https://upload.wikimedia.org/wikipedia/commons...,AD,AND,20.0,ISO 3166-2:AD,Europe,Southern Europe,None,150.0,39.0,NaN
4,Angola,Flag_of_Angola.svg,https://upload.wikimedia.org/wikipedia/commons...,AO,AGO,24.0,ISO 3166-2:AO,Africa,Sub-Saharan Africa,Middle Africa,2.0,202.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,United States Minor Outlying Islands,None,None,UM,UMI,581.0,ISO 3166-2:UM,Oceania,Micronesia,None,9.0,57.0,NaN
269,Virgin Islands (British),None,None,VG,VGB,92.0,ISO 3166-2:VG,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
270,Virgin Islands (U.S.),None,None,VI,VIR,850.0,ISO 3166-2:VI,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
271,Wallis and Futuna,None,None,WF,WLF,876.0,ISO 3166-2:WF,Oceania,Polynesia,None,9.0,61.0,NaN
272,Western Sahara,None,None,EH,ESH,732.0,ISO 3166-2:EH,Africa,Northern Africa,None,2.0,15.0,NaN

In [6]:
df_codes=pd.read_csv("sources/hs_codes.csv")
df_codes

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
0,1654555,1,0,NaN,NaN,NaN,This classification has been uploaded in RAMON...,This classification has been uploaded in RAMON...
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies"
4,1654559,4,10121000010,1.010000e+10,NaN,1.01,- Horses,NaN
...,...,...,...,...,...,...,...,...
7432,1661987,3,970200000080,9.700210e+11,9702,97,"Original engravings, prints and lithographs","Original engravings, prints and lithographs"
7433,1661988,3,970300000080,9.700210e+11,9703,97,"Original sculptures and statuary, in any material","Original sculptures and statuary, in any material"
7434,1661989,3,970400000080,9.700210e+11,9704,97,"Postage or revenue stamps, stamp-postmarks, fi...","Postage or revenue stamps, stamp-postmarks, fi..."
7435,1661990,3,970500000080,9.700210e+11,9705,97,Collections and collectors' pieces of zoologic...,Collections and collector's pieces of zoologic...
7436,1661991,3,970600000080,9.700210e+11,9706,97,Antiques of an age exceeding 100years,Antiques of > 100 years old

In [7]:
#creando una copia de df_codes solo con los valores de nivel 2
df_parents=df_codes[df_codes['Level']==2].copy()
df_parents

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
52,1654607,2,20021000090,1.001100e+10,2,I,CHAPTER2 - MEAT AND EDIBLE MEAT OFFAL,MEAT AND EDIBLE MEAT OFFAL
140,1654695,2,30021000090,1.001100e+10,3,I,"CHAPTER3 - FISH AND CRUSTACEANS, MOLLUSCS AND...","FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT..."
416,1654971,2,40021000090,1.001100e+10,4,I,CHAPTER4 - DAIRY PRODUCE; BIRDS' EGGS; NATURA...,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...
463,1655018,2,50021000090,1.001100e+10,5,I,"CHAPTER5 - PRODUCTS OF ANIMAL ORIGIN, NOT ELS...","PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI..."
...,...,...,...,...,...,...,...,...
7238,1661793,2,930021000090,9.300110e+11,93,XIX,CHAPTER93 - ARMS AND AMMUNITION; PARTS AND AC...,ARMS AND AMMUNITION; PARTS AND ACCESSORIES THE...
7264,1661819,2,940021000090,9.400110e+11,94,XX,"CHAPTER94 - FURNITURE; BEDDING, MATTRESSES, M...","FURNITURE; BEDDING, MATTRESSES, MATTRESS SUPPO..."
7319,1661874,2,950021000090,9.400110e+11,95,XX,"CHAPTER95 - TOYS, GAMES AND SPORTS REQUISITES...","TOYS, GAMES AND SPORTS REQUISITES; PARTS AND A..."
7362,1661917,2,960021000090,9.400110e+11,96,XX,CHAPTER96 - MISCELLANEOUS MANUFACTURED ARTICLES,MISCELLANEOUS MANUFACTURED ARTICLES
7428,1661983,2,970021000090,9.700110e+11,97,XXI,"CHAPTER97 - WORKS OF ART, COLLECTORS' PIECES ...","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"

# <a name="mark_06"></a>Transformaci贸n: 
### [Index](#index)

In [8]:
#Quitando valores nulos de 'Code_comm'.
df_codes=df_codes[df_codes['Code_comm'].notnull()]
df_codes

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies"
5,1654560,5,10121000080,1.012100e+10,101.21,NaN,-- Pure-bred breeding animals,Pure-bred breeding horses
6,1654561,5,10129000080,1.012100e+10,101.29,NaN,-- Other,Live horses (excl. pure-bred for breeding)
...,...,...,...,...,...,...,...,...
7432,1661987,3,970200000080,9.700210e+11,9702,97,"Original engravings, prints and lithographs","Original engravings, prints and lithographs"
7433,1661988,3,970300000080,9.700210e+11,9703,97,"Original sculptures and statuary, in any material","Original sculptures and statuary, in any material"
7434,1661989,3,970400000080,9.700210e+11,9704,97,"Postage or revenue stamps, stamp-postmarks, fi...","Postage or revenue stamps, stamp-postmarks, fi..."
7435,1661990,3,970500000080,9.700210e+11,9705,97,Collections and collectors' pieces of zoologic...,Collections and collector's pieces of zoologic...
7436,1661991,3,970600000080,9.700210e+11,9706,97,Antiques of an age exceeding 100years,Antiques of > 100 years old

In [9]:
#Esta funci贸n extrae los primeros 5 o 6 valores de los c贸digos de 11 o m谩s d铆gitos
def clean_code(text):
    
    text=str(text)
    parent_code=None
    
    if len(text)==11:
        code=text[:5]
        parent_code=text[:1]
    else: 
        code=text[:6]
        parent_code=text[:2]
    try:
        parent=df_parents[df_parents['Code_comm']==parent_code]['Description'].values[0]
    except:
        parent="There is not description to show"
    return (code, parent)

In [10]:
#Aplicando la funci贸n a cada uno de los rows, crea 2 nuevas columnas 'clean_code', 'parent_description'.
#con valores filtrados por la funci贸n "clean_code"
df_codes[['clean_code', 'parent_description']]=df_codes.apply(lambda x : clean_code(x['Code']), axis=1, result_type='expand')
df_codes

/tmp/ipykernel_1362/2648796474.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes[['clean_code', 'parent_description']]=df_codes.apply(lambda x : clean_code(x['Code']), axis=1, result_type='expand')
/tmp/ipykernel_1362/2648796474.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes[['clean_code', 'parent_description']]=df_codes.apply(lambda x : clean_code(x['Code']), axis=1, result_type='expand')

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description,clean_code,parent_description
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS,10011,LIVE ANIMALS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS,10021,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies",10100,LIVE ANIMALS
5,1654560,5,10121000080,1.012100e+10,101.21,NaN,-- Pure-bred breeding animals,Pure-bred breeding horses,10121,LIVE ANIMALS
6,1654561,5,10129000080,1.012100e+10,101.29,NaN,-- Other,Live horses (excl. pure-bred for breeding),10129,LIVE ANIMALS
...,...,...,...,...,...,...,...,...,...,...
7432,1661987,3,970200000080,9.700210e+11,9702,97,"Original engravings, prints and lithographs","Original engravings, prints and lithographs",970200,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7433,1661988,3,970300000080,9.700210e+11,9703,97,"Original sculptures and statuary, in any material","Original sculptures and statuary, in any material",970300,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7434,1661989,3,970400000080,9.700210e+11,9704,97,"Postage or revenue stamps, stamp-postmarks, fi...","Postage or revenue stamps, stamp-postmarks, fi...",970400,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7435,1661990,3,970500000080,9.700210e+11,9705,97,Collections and collectors' pieces of zoologic...,Collections and collector's pieces of zoologic...,970500,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7436,1661991,3,970600000080,9.700210e+11,9706,97,Antiques of an age exceeding 100years,Antiques of > 100 years old,970600,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"

In [11]:
#limpiando de valores nulos.
df_codes=df_codes[df_codes['clean_code'].notnull()]
df_codes

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description,clean_code,parent_description
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS,10011,LIVE ANIMALS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS,10021,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies",10100,LIVE ANIMALS
5,1654560,5,10121000080,1.012100e+10,101.21,NaN,-- Pure-bred breeding animals,Pure-bred breeding horses,10121,LIVE ANIMALS
6,1654561,5,10129000080,1.012100e+10,101.29,NaN,-- Other,Live horses (excl. pure-bred for breeding),10129,LIVE ANIMALS
...,...,...,...,...,...,...,...,...,...,...
7432,1661987,3,970200000080,9.700210e+11,9702,97,"Original engravings, prints and lithographs","Original engravings, prints and lithographs",970200,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7433,1661988,3,970300000080,9.700210e+11,9703,97,"Original sculptures and statuary, in any material","Original sculptures and statuary, in any material",970300,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7434,1661989,3,970400000080,9.700210e+11,9704,97,"Postage or revenue stamps, stamp-postmarks, fi...","Postage or revenue stamps, stamp-postmarks, fi...",970400,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7435,1661990,3,970500000080,9.700210e+11,9705,97,Collections and collectors' pieces of zoologic...,Collections and collector's pieces of zoologic...,970500,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7436,1661991,3,970600000080,9.700210e+11,9706,97,Antiques of an age exceeding 100years,Antiques of > 100 years old,970600,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"

In [12]:
#tomando solo 3 columnas de todo el df.
df_codes=df_codes[['clean_code', 'Description','parent_description']]
df_codes

,clean_code,Description,parent_description
1,10011,LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS
2,10021,LIVE ANIMALS,LIVE ANIMALS
3,10100,"Live horses, asses, mules and hinnies",LIVE ANIMALS
5,10121,Pure-bred breeding horses,LIVE ANIMALS
6,10129,Live horses (excl. pure-bred for breeding),LIVE ANIMALS
...,...,...,...
7432,970200,"Original engravings, prints and lithographs","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7433,970300,"Original sculptures and statuary, in any material","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7434,970400,"Postage or revenue stamps, stamp-postmarks, fi...","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7435,970500,Collections and collector's pieces of zoologic...,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7436,970600,Antiques of > 100 years old,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"

In [13]:
#Agregando "id_code":
df_codes['id_code']=df_codes.index
df_codes

/tmp/ipykernel_1362/4245874065.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes['id_code']=df_codes.index

,clean_code,Description,parent_description,id_code
1,10011,LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS,1
2,10021,LIVE ANIMALS,LIVE ANIMALS,2
3,10100,"Live horses, asses, mules and hinnies",LIVE ANIMALS,3
5,10121,Pure-bred breeding horses,LIVE ANIMALS,5
6,10129,Live horses (excl. pure-bred for breeding),LIVE ANIMALS,6
...,...,...,...,...
7432,970200,"Original engravings, prints and lithographs","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7432
7433,970300,"Original sculptures and statuary, in any material","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7433
7434,970400,"Postage or revenue stamps, stamp-postmarks, fi...","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7434
7435,970500,Collections and collector's pieces of zoologic...,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7435
7436,970600,Antiques of > 100 years old,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7436

In [14]:
#parcear "clean_code" de str a int.
df_codes['clean_code']=df_codes['clean_code'].astype('int64')
df_codes

/tmp/ipykernel_1362/954814626.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes['clean_code']=df_codes['clean_code'].astype('int64')

,clean_code,Description,parent_description,id_code
1,10011,LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS,1
2,10021,LIVE ANIMALS,LIVE ANIMALS,2
3,10100,"Live horses, asses, mules and hinnies",LIVE ANIMALS,3
5,10121,Pure-bred breeding horses,LIVE ANIMALS,5
6,10129,Live horses (excl. pure-bred for breeding),LIVE ANIMALS,6
...,...,...,...,...
7432,970200,"Original engravings, prints and lithographs","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7432
7433,970300,"Original sculptures and statuary, in any material","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7433
7434,970400,"Postage or revenue stamps, stamp-postmarks, fi...","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7434
7435,970500,Collections and collector's pieces of zoologic...,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7435
7436,970600,Antiques of > 100 years old,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7436

In [15]:
#limpiando df_countries.
df_countries

,country,images_file,image_url,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,Flag_of_Afghanistan.svg,https://upload.wikimedia.org/wikipedia/commons...,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN
1,Albania,Flag_of_Albania.svg,https://upload.wikimedia.org/wikipedia/commons...,AL,ALB,8.0,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN
2,Algeria,Flag_of_Algeria.svg,https://upload.wikimedia.org/wikipedia/commons...,DZ,DZA,12.0,ISO 3166-2:DZ,Africa,Northern Africa,None,2.0,15.0,NaN
3,Andorra,Flag_of_Andorra.svg,https://upload.wikimedia.org/wikipedia/commons...,AD,AND,20.0,ISO 3166-2:AD,Europe,Southern Europe,None,150.0,39.0,NaN
4,Angola,Flag_of_Angola.svg,https://upload.wikimedia.org/wikipedia/commons...,AO,AGO,24.0,ISO 3166-2:AO,Africa,Sub-Saharan Africa,Middle Africa,2.0,202.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,United States Minor Outlying Islands,None,None,UM,UMI,581.0,ISO 3166-2:UM,Oceania,Micronesia,None,9.0,57.0,NaN
269,Virgin Islands (British),None,None,VG,VGB,92.0,ISO 3166-2:VG,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
270,Virgin Islands (U.S.),None,None,VI,VIR,850.0,ISO 3166-2:VI,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
271,Wallis and Futuna,None,None,WF,WLF,876.0,ISO 3166-2:WF,Oceania,Polynesia,None,9.0,61.0,NaN
272,Western Sahara,None,None,EH,ESH,732.0,ISO 3166-2:EH,Africa,Northern Africa,None,2.0,15.0,NaN

In [16]:
#Seleccionando columnas 'alpha-3', 'country', 'region', 'sub-region'
df_countries=df_countries[['alpha-3', 'country', 'region', 'sub-region']]
df_countries

,alpha-3,country,region,sub-region
0,AFG,Afghanistan,Asia,Southern Asia
1,ALB,Albania,Europe,Southern Europe
2,DZA,Algeria,Africa,Northern Africa
3,AND,Andorra,Europe,Southern Europe
4,AGO,Angola,Africa,Sub-Saharan Africa
...,...,...,...,...
268,UMI,United States Minor Outlying Islands,Oceania,Micronesia
269,VGB,Virgin Islands (British),Americas,Latin America and the Caribbean
270,VIR,Virgin Islands (U.S.),Americas,Latin America and the Caribbean
271,WLF,Wallis and Futuna,Oceania,Polynesia
272,ESH,Western Sahara,Africa,Northern Africa

In [17]:
#columna alpha-3 notnull:
df_countries=df_countries[df_countries['alpha-3'].notnull()]
df_countries

,alpha-3,country,region,sub-region
0,AFG,Afghanistan,Asia,Southern Asia
1,ALB,Albania,Europe,Southern Europe
2,DZA,Algeria,Africa,Northern Africa
3,AND,Andorra,Europe,Southern Europe
4,AGO,Angola,Africa,Sub-Saharan Africa
...,...,...,...,...
268,UMI,United States Minor Outlying Islands,Oceania,Micronesia
269,VGB,Virgin Islands (British),Americas,Latin America and the Caribbean
270,VIR,Virgin Islands (U.S.),Americas,Latin America and the Caribbean
271,WLF,Wallis and Futuna,Oceania,Polynesia
272,ESH,Western Sahara,Africa,Northern Africa

In [18]:
#crear un "id_code":
df_countries['id_countries']=df_countries.index+1

df_countries

/tmp/ipykernel_1362/1774595389.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_countries['id_countries']=df_countries.index+1

,alpha-3,country,region,sub-region,id_countries
0,AFG,Afghanistan,Asia,Southern Asia,1
1,ALB,Albania,Europe,Southern Europe,2
2,DZA,Algeria,Africa,Northern Africa,3
3,AND,Andorra,Europe,Southern Europe,4
4,AGO,Angola,Africa,Sub-Saharan Africa,5
...,...,...,...,...,...
268,UMI,United States Minor Outlying Islands,Oceania,Micronesia,269
269,VGB,Virgin Islands (British),Americas,Latin America and the Caribbean,270
270,VIR,Virgin Islands (U.S.),Americas,Latin America and the Caribbean,271
271,WLF,Wallis and Futuna,Oceania,Polynesia,272
272,ESH,Western Sahara,Africa,Northern Africa,273

In [19]:
#Merge, igual a un left join de todo lo de "df_trades" + las columnas "clean_code" y "id_code"
#de "df_codes", donde coincidana los valores de "comm_code" y "clean_code"
df_trades_clean=df_trades.merge(df_codes[['clean_code', 'id_code']], how='left', 
                                left_on='comm_code', right_on='clean_code')
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6928
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6930
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6930
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6930
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6932
...,...,...,...,...,...,...,...,...,...,...
83,SLE,2016,890590,Export,433.0,492.0,NaN,No Quantity,890590,6939
84,SLE,2016,890600,Import,91028.0,17922.0,NaN,No Quantity,890600,6940
85,SLE,2016,890710,Import,18057.0,245.0,NaN,No Quantity,890710,6944
86,SLE,2016,890790,Import,55337.0,15934.0,NaN,No Quantity,890790,6945
87,SLE,2016,890800,Import,7509.0,2000.0,0.0,Number of items,890800,6946

In [20]:
#sigue mergiando ... 
df_trades_clean=df_trades_clean.merge(df_countries[['alpha-3', 'id_countries']], how='left', 
                                left_on='country_code', right_on='alpha-3')
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code,alpha-3,id_countries
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6928,SYC,155
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6930,SYC,155
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6930,SYC,155
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6930,SYC,155
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6932,SYC,155
...,...,...,...,...,...,...,...,...,...,...,...,...
83,SLE,2016,890590,Export,433.0,492.0,NaN,No Quantity,890590,6939,SLE,156
84,SLE,2016,890600,Import,91028.0,17922.0,NaN,No Quantity,890600,6940,SLE,156
85,SLE,2016,890710,Import,18057.0,245.0,NaN,No Quantity,890710,6944,SLE,156
86,SLE,2016,890790,Import,55337.0,15934.0,NaN,No Quantity,890790,6945,SLE,156
87,SLE,2016,890800,Import,7509.0,2000.0,0.0,Number of items,890800,6946,SLE,156

In [21]:
#Funci贸n que vuelve valores de columnas en un data frame.
def create_dimension(data, id_name):#recibe una serie y un id
    list_keys=[]
    value=1
    for _ in data:#itera lo que llegue de par谩metro en los datos
        list_keys.append(value)
        value=value+1
    return pd.DataFrame({id_name:list_keys, 'values':data})

En Python, la expresi贸n `for _ in data:` se utiliza para iterar sobre los elementos de una secuencia, como una lista, una tupla, un diccionario u otro tipo de iterable. Sin embargo, el uso del guion bajo (`_`) como nombre de variable es una convenci贸n que indica que no est谩s interesado en el valor real de cada elemento durante la iteraci贸n.

En otras palabras, cuando usas `for _ in data:`, est谩s diciendo que solo est谩s interesado en la repetici贸n de la iteraci贸n y no necesitas el valor real de cada elemento. Esto es com煤n cuando solo est谩s interesado en realizar una acci贸n repetida cierta cantidad de veces o cuando solo necesitas recorrer una secuencia sin utilizar los valores individuales.

Por ejemplo:

```python
numbers = [1, 2, 3, 4, 5]

for _ in numbers:
    print("Iterating!")

# Output:
# Iterating!
# Iterating!
# Iterating!
# Iterating!
# Iterating!
```

En este caso, el guion bajo se utiliza para indicar que no necesitamos el valor real de los elementos en la lista `numbers`, simplemente estamos iterando cinco veces e imprimiendo "Iterating!" en cada iteraci贸n.

En resumen, `for _ in data:` es una forma de iterar sobre una secuencia cuando no te importa el valor de los elementos, sino solo la acci贸n repetida.

In [22]:
#Explicaci贸n de como la funci贸n anterior crea un data frame:

list_key=[]
items=[]
values=1
for i in df_trades_clean['quantity_name'].unique():
    list_key.append(values)
    values=values+1
    items.append(i)
    print(items)
    df_creado=pd.DataFrame({'id_name':list_key, 'values':items})

df_creado

['Number of items']
['Number of items', 'Weight in kilograms']
['Number of items', 'Weight in kilograms', 'No Quantity']

   id_name               values
0        1      Number of items
1        2  Weight in kilograms
2        3          No Quantity

In [23]:
#Creando los data frames...
create_dimension(df_trades_clean['quantity_name'].unique(), 'id_quantity_name')

   id_quantity_name               values
0                 1      Number of items
1                 2  Weight in kilograms
2                 3          No Quantity

In [24]:
#creando un df_quantity.
df_quantity=create_dimension(df_trades_clean['quantity_name'].unique(), 'id_quantity_name')
df_quantity

   id_quantity_name               values
0                 1      Number of items
1                 2  Weight in kilograms
2                 3          No Quantity

In [25]:
#creando un df_flow.
df_flow=create_dimension(df_trades_clean['flow'].unique(), 'id_flow_name')
df_flow

   id_flow_name     values
0             1     Import
1             2     Export
2             3  Re-Export

In [26]:
#creando un df_year.
df_year=create_dimension(df_trades_clean['year'].unique(), 'id_year')
df_year

   id_year  values
0        1    1998
1        2    1997
2        3    1996
3        4    1995
4        5    1994
5        6    2016

In [37]:
#Uniendo todos los df en df_trades_clean
df_trades_clean=df_trades_clean.merge(df_quantity, how='left', left_on='quantity_name', right_on='values')
df_trades_clean=df_trades_clean.merge(df_flow, how='left', left_on='flow', right_on='values')
df_trades_clean=df_trades_clean.merge(df_year, how='left', left_on='year', right_on='values')
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code,alpha-3,id_countries,id_quantity_name,values_x,id_flow_name,values_y,id_year,values
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6928,SYC,155,1,Number of items,1,Import,1,1998
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6930,SYC,155,1,Number of items,1,Import,1,1998
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6930,SYC,155,1,Number of items,2,Export,1,1998
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6930,SYC,155,1,Number of items,3,Re-Export,1,1998
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6932,SYC,155,1,Number of items,1,Import,1,1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,SLE,2016,890590,Export,433.0,492.0,NaN,No Quantity,890590,6939,SLE,156,3,No Quantity,2,Export,6,2016
84,SLE,2016,890600,Import,91028.0,17922.0,NaN,No Quantity,890600,6940,SLE,156,3,No Quantity,1,Import,6,2016
85,SLE,2016,890710,Import,18057.0,245.0,NaN,No Quantity,890710,6944,SLE,156,3,No Quantity,1,Import,6,2016
86,SLE,2016,890790,Import,55337.0,15934.0,NaN,No Quantity,890790,6945,SLE,156,3,No Quantity,1,Import,6,2016
87,SLE,2016,890800,Import,7509.0,2000.0,0.0,Number of items,890800,6946,SLE,156,1,Number of items,1,Import,6,2016

In [38]:
#colocando un index a df_trades_clean.
df_trades_clean['id_trades']=df_trades_clean.index+1
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code,alpha-3,id_countries,id_quantity_name,values_x,id_flow_name,values_y,id_year,values,id_trades
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6928,SYC,155,1,Number of items,1,Import,1,1998,1
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6930,SYC,155,1,Number of items,1,Import,1,1998,2
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6930,SYC,155,1,Number of items,2,Export,1,1998,3
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6930,SYC,155,1,Number of items,3,Re-Export,1,1998,4
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6932,SYC,155,1,Number of items,1,Import,1,1998,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,SLE,2016,890590,Export,433.0,492.0,NaN,No Quantity,890590,6939,SLE,156,3,No Quantity,2,Export,6,2016,84
84,SLE,2016,890600,Import,91028.0,17922.0,NaN,No Quantity,890600,6940,SLE,156,3,No Quantity,1,Import,6,2016,85
85,SLE,2016,890710,Import,18057.0,245.0,NaN,No Quantity,890710,6944,SLE,156,3,No Quantity,1,Import,6,2016,86
86,SLE,2016,890790,Import,55337.0,15934.0,NaN,No Quantity,890790,6945,SLE,156,3,No Quantity,1,Import,6,2016,87
87,SLE,2016,890800,Import,7509.0,2000.0,0.0,Number of items,890800,6946,SLE,156,1,Number of items,1,Import,6,2016,88

In [40]:
#Seleccionando columnas para m茅tricas desde df_trades_clean.
#creando/seleccionando columnas para la tabla de hechos "df_trades_final"
df_trades_final=df_trades_clean[['id_trades', 'trade_usd', 'kg', 'quantity', 'id_code', 
                                 'id_countries', 'id_quantity_name', 'id_flow_name', 'id_year']].copy()
df_trades_final

,id_trades,trade_usd,kg,quantity,id_code,id_countries,id_quantity_name,id_flow_name,id_year
0,1,1431426.0,0.0,23000.0,6928,155,1,1,1
1,2,31406.0,0.0,2545.0,6930,155,1,1,1
2,3,950.0,0.0,300.0,6930,155,1,2,1
3,4,950.0,0.0,300.0,6930,155,1,3,1
4,5,18251.0,0.0,450.0,6932,155,1,1,1
...,...,...,...,...,...,...,...,...,...
83,84,433.0,492.0,NaN,6939,156,3,2,6
84,85,91028.0,17922.0,NaN,6940,156,3,1,6
85,86,18057.0,245.0,NaN,6944,156,3,1,6
86,87,55337.0,15934.0,NaN,6945,156,3,1,6
87,88,7509.0,2000.0,0.0,6946,156,1,1,6

In [42]:
#reordenando columnas df_countries.
df_countries=df_countries[['id_countries', 'alpha-3', 'country', 'region', 'sub-region']]
df_countries

,id_countries,alpha-3,country,region,sub-region
0,1,AFG,Afghanistan,Asia,Southern Asia
1,2,ALB,Albania,Europe,Southern Europe
2,3,DZA,Algeria,Africa,Northern Africa
3,4,AND,Andorra,Europe,Southern Europe
4,5,AGO,Angola,Africa,Sub-Saharan Africa
...,...,...,...,...,...
268,269,UMI,United States Minor Outlying Islands,Oceania,Micronesia
269,270,VGB,Virgin Islands (British),Americas,Latin America and the Caribbean
270,271,VIR,Virgin Islands (U.S.),Americas,Latin America and the Caribbean
271,272,WLF,Wallis and Futuna,Oceania,Polynesia
272,273,ESH,Western Sahara,Africa,Northern Africa

In [44]:
#reordenando columnas df_codes.
df_codes=df_codes[['id_code', 'clean_code', 'Description', 'parent_description']]
df_codes

,id_code,clean_code,Description,parent_description
1,1,10011,LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS
2,2,10021,LIVE ANIMALS,LIVE ANIMALS
3,3,10100,"Live horses, asses, mules and hinnies",LIVE ANIMALS
5,5,10121,Pure-bred breeding horses,LIVE ANIMALS
6,6,10129,Live horses (excl. pure-bred for breeding),LIVE ANIMALS
...,...,...,...,...
7432,7432,970200,"Original engravings, prints and lithographs","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7433,7433,970300,"Original sculptures and statuary, in any material","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7434,7434,970400,"Postage or revenue stamps, stamp-postmarks, fi...","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7435,7435,970500,Collections and collector's pieces of zoologic...,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7436,7436,970600,Antiques of > 100 years old,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"

# <a name="mark_07"></a> Carga - Load.
### [Index](#index)

Cuestiones a tener en cuenta:

- Formatos Aceptables

- Permisos (Escritura)

- Auditar --> Calidad de Datos.

    - Misma cantidad de datos.
    - Problemas de calidad.
    - Duplicados.

* Eficiencia

    - 驴Por batch o streaming?
    - 驴En qu茅 momento del d铆a?
    - 驴El orden?
* Control de errores

    - 驴Revertir todo el proceso o solo corregir los fallos y continuar con el procesos?

# <a name="mark_08"></a> Crear, cl煤ster, base de datos en AWS Redshift y un bucket en S3.
### [Index](#index)

Para crear un cl煤ster y su base de datos en AWS Redshift y un bucket en S3. Los usaremos para el target del ETL de este curso.

Sigue estos pasos para configurar el target de tu ETL.

Entra a AWS Free Tier
1. Abre el sitio web de AWS Free Tier [aqu铆](https://aws.amazon.com/free).
锔Es importante recordar que el free tier tiene un per铆odo de 1 a帽o para que no te cobre AWS.

2. Dentro del buscador de detalles de nivel gratuito busca redshift.
![](https://static.platzi.com/media/user_upload/aws_free-086a1a53-029b-423e-8bd4-446426cbf5be.jpg)
3. Observa que podr谩s tener una prueba gratuita de 2 meses de AWS Redshift al elegir un nodo tipo DC2.Large / serverless.
![](https://static.platzi.com/media/user_upload/redshift_free-caa5d427-9d2f-4d8f-bf31-44979a660c9e.jpg)
![](https://static.platzi.com/media/user_upload/DC2_large_aws-79afed7d-6f66-43bd-8a55-8450a070d0a8.jpg)
锔锔锔 Recuerda que es muy muy importante que elijas ese tipo de nodo DC2.Large al crear el cl煤ster de AWS Redshift. Para que sea gratuito por 2 meses, de lo contrario se te har谩n cobros a tu tarjeta.

Ya que sabes esto, avanza a crear el cl煤ster en los siguientes pasos.

Creaci贸n de cl煤ster en AWS Redshift
1. Inicia sesi贸n en la consola de AWS
Da clic en iniciar sesi贸n en la parte superior derecha o aqu铆.
![](https://static.platzi.com/media/user_upload/inicia_sesion_aws-6ceaea25-48f9-4967-a262-a537d8bf5397.jpg)
2. Elige tu regi贸n
Despu茅s de iniciar sesi贸n en tu cuenta de AWS elige la regi贸n donde crear谩s el cl煤ster en la parte superior derecha de la consola de AWS.
![](https://static.platzi.com/media/user_upload/consola_region_aws-b5de14ad-644b-416a-8b67-0638b95b1e1b.jpg)
Te sugiero elegir la regi贸n de Oregon (us-west-2) que es la que usamos en este curso, pero puedes seleccionar la que mejor te convenga. Solo recuerda cual es para que la pongas al cargar los datos desde la notebook de Python.

3. Buscar el servicio de Redshift
Busca redshift en el cuadro de b煤squeda de servicios y da clic en la opci贸n Amazon Redshift que aparece.
![](https://static.platzi.com/media/user_upload/buscar_redshift-350b6442-415b-48b7-a6b6-fd276976e869.jpg)
Esto te llevar谩 a la consola de Redshift.
![](https://static.platzi.com/media/user_upload/redshift_console-ea0f5f5b-06c1-44b9-981f-62a137ac156b.jpg)
4. Ve al panel de cl煤steres
Dentro de la consola de Redshift ve al panel de la izquierda que se despliega con el 铆cono de las tres rayas horizontales. Selecciona la opci贸n de Cl煤steres.
![](https://static.platzi.com/media/user_upload/clusteres_redshift-ee836c0a-f570-4853-9a36-a83e157176b3.jpg)
5. Crea el cl煤ster
Dentro del panel de cl煤steres da clic en el bot贸n naranja Crear cl煤ster.
![](https://static.platzi.com/media/user_upload/crear_cluster_redshift-43414322-28c3-4061-a63f-6a87fba692da.jpg)
En la configuraci贸n del cl煤ster da nombre al cl煤ster. Puedes llamarlo demo-platzi-curso-etl. Elige la prueba gratuita.

En el resumen de configuraci贸n calculada deber谩s ver que el tipo de nodo sea **dc2.large. 锔Recuerda que esto es importante de verificar para que sea gratuito el uso de tu Redshift durante 2 meses.
![](https://static.platzi.com/media/user_upload/free_cluster-4b9446b9-7b7b-4eb5-aef0-45d2538f2a9a.jpg)
Una vez seleccionados estos campos, desciende para establecer el usuario y contrase帽a del cl煤ster de Redshift.

锔Recuerda guardar en un lugar seguro estas credenciales, como en un gestor de contrase帽as, para que puedas conectarte al cl煤ster.

Nombra demoplatzi al Nombre de usuario y pon una contrase帽a segura.
![](https://static.platzi.com/media/user_upload/admin_pass_cluster-0fd0e30c-f75f-4351-9fda-74524d7351df.jpg)
Finalmente, da clic en el bot贸n naranja Crear cl煤ster.

Espera hasta que el estado de creaci贸n del cl煤ster lo marque en verde como Available. Esto puede demorar varios minutos, para revisar el estado da clic en el bot贸n refrescar de la flecha en c铆rculo.
![](https://static.platzi.com/media/user_upload/cluster_listo-5fe95971-10f1-4bb0-8b8b-58bcbc9dae27.jpg)
6. Modificar las reglas de seguridad del cl煤ster
Entra al cl煤ster dando clic en el nombre dentro del panel de cl煤steres.
![](https://static.platzi.com/media/user_upload/cluster_listo-66a554ef-ea79-455e-9997-f25f494b9ab5.jpg)
Entra a la pesta帽a de Propiedades.
![](https://static.platzi.com/media/user_upload/propiedades-c47c9676-72f5-425c-93fe-89237b38b204.jpg)
Baja hasta la secci贸n de Configuraci贸n de red y seguridad y da clic sobre el Grupo de seguridad de la VPC.

![](https://static.platzi.com/media/user_upload/VPC_sec-d49b7431-3f95-47c7-b670-3282dc3c7186.jpg)
Selecciona el ID del grupo de seguridad.
![](https://static.platzi.com/media/user_upload/id_grupo_seguridad-87ab5074-4bc3-4898-98d4-7ecd0f80e1a7.jpg)
Baja y da clic en Editar reglas de entrada.
![](https://static.platzi.com/media/user_upload/reglas_de_entrada-38669536-7bbe-42c4-bee3-685f8cdf8d9a.jpg)
Da clic en el bot贸n inferior Agregar regla.
![](https://static.platzi.com/media/user_upload/agregar_regla-c6bb77f2-6eea-424a-a5b4-9567eed4203c.jpg)
En tipo elige Redshift y en origen elige 0.0.0.0/0. Finalmente, da clic en el bot贸n naranja Guardar reglas.
![](https://static.platzi.com/media/user_upload/nueva_regla_entrada-1da7eb6a-fc6d-4ebe-8a34-1d49dfcc6b8b.jpg)
Regresa al panel del cl煤ster a la zona de configuraci贸n de red y seguridad. Da clic en el bot贸n editar.
![](https://static.platzi.com/media/user_upload/editar_seguridad-b37d3d7a-06e5-49e1-a09d-d9f8916f9e6c.jpg)
Desciende y en la parte inferior marca la casilla Activar accesibilidad p煤blica. Da clic en el bot贸n naranja Guardar cambios.
![](https://static.platzi.com/media/user_upload/red_seguridad_publica-2b76dd5e-448c-44b3-89e8-97eca963b9fa.jpg)
锔Esto es algo que no debe hacerse en entornos de producci贸n. En este caso lo har谩s al ser un demo con fines educativos, para evitar complicaciones de configuraci贸n adicional de accesos de seguridad.

7. Con茅ctate a Redshift desde tu gestor de bases de datos.
Abre tu gestor, ya sea DataSpell, DBeaver o pgAdmin.

Dentro de tu gestor crea una nueva conexi贸n a una base de datos de tipo Redshift. Es muy importante buscar la opci贸n de Redshift.

En el caso de DataSpell ve a la pesta帽a de Database y en ella da clic en el bot贸n de signo de +.
![](https://static.platzi.com/media/user_upload/database_dataspell-3ba09552-40ab-4eb3-b16a-bc91e0774177.jpg)
Selecciona la opci贸n de Data Source y dentro del men煤 desplegable busca y elige la opci贸n de Amazon Redshift.
![](https://static.platzi.com/media/user_upload/workspace%203_2_2023%207_48_03%20PM-7ac11954-fd62-40f1-9858-e68f8b9a85c2.jpg)
Regresa al panel del administrador del cl煤ster de Redshift en la consola de AWS y copia el punto de enlace.
![](https://static.platzi.com/media/user_upload/copiar-punto-enlace-41d8daca-6205-4e31-b0b8-7f261a50ce38.jpg)
Regresa a la interfaz de tu gestor de bases de datos e ingresa los los siguientes datos para conectar a la base de datos:

- Host: es la url del punto de enlace que copiaste eliminando la parte final :5439/dev. Tendr谩 una forma como server.redshift.amazonaws.com
- Port: 5439
- User: demoplatzi o el que hayas puesto.
- Password: la que le hayas puesto a tu cl煤ster de AWS Redshift cuando lo creaste en el paso 5.
- Database: dev
![](https://static.platzi.com/media/user_upload/database_con_redshift-14229641-4ffc-4902-8565-dcc36d0a8732.jpg)
Da clic en el bot贸n de Test Connection o su correspondiente para probar la conexi贸n. Si est谩s en DataSpell te pedir谩 actualizar unos drivers, dile que OK.

Una vez que indique que la conexi贸n es exitosa, da clic en el bot贸n OK, o en el bot贸n disponible de otro gestor, para aceptar la conexi贸n.
![](https://static.platzi.com/media/user_upload/conexion_redshift_ok-a9f1370f-1387-4646-9b36-a87e34591ee5.jpg)
隆Listo tienes creado tu cl煤ster con una base de datos dev en Redshift y te has conectado a ella! 
![](https://static.platzi.com/media/user_upload/conexi%C3%B3n_redshift-9177d1c3-a43b-4c8e-85f2-7079ee093d2b.jpg)
Creaci贸n de bucket de almacenamiento en AWS S3
Para el ETL crear谩s un bucket en S3 donde temporalmente almacenar谩s unos archivos CSV donde guardar谩s los datos de las tablas que has creado en el proceso de transformaci贸n.

1. Entra al panel de S3 desde la consola de AWS.
Busca S3 en el buscador de la consola y selecciona la opci贸n de S3.
![](https://static.platzi.com/media/user_upload/s3-1bd501da-716c-4fc7-98ad-a81637dee448.jpg)
Da clic en el bot贸n naranja Crear bucket en el panel de S3.
![](https://static.platzi.com/media/user_upload/panel-s3-351f0324-3e3b-4456-bdd5-182167533ea4.jpg)
Da un nombre al bucket. Este nombre debe ser 煤nico, ya que no puede haber m谩s de un bucket de S3 con el mismo nombre. Tambi茅n aseg煤rate que la regi贸n de AWS sea la misma que hayas elegido para tu cl煤ster de Redshift, en nuestro caso fue us-west-2.
![](https://static.platzi.com/media/user_upload/crear_bucket_s3-515dbc37-3130-48e3-bf5c-31609325916c.jpg)
Desciende hasta abajo y da clic en el bot贸n naranja Crear bucket.
![](https://static.platzi.com/media/user_upload/boton-crear-bucket-d91e7134-8fa4-4e0c-baa8-67c213f08df0.jpg)
隆Listo, ya deber谩 aparecer que tienes tu bucket creado! 
![](https://static.platzi.com/media/user_upload/bucket_creado-97eae409-b303-4b1d-9dee-033bcdf90f1f.jpg)

# <a name="mark_09"></a> Crear tablas en AWS Redshift
### [Index](#index)

Ya que tienes tu cl煤ster de Redshift y tu bucket de S3 en AWS, es momento de crear las tablas donde depositaremos los datos que transformamos en el ETL.

Por ahora lo que haremos ser谩 crear la estructura de las tablas para que en la siguiente clase podamos llevar los datos transformados a archivos CSV que subiremos a S3 y que autom谩ticamente ser谩n cargados como registros en nuestro Redshift.

1. Crea las tablas
Abre una nueva Query Console. Da clic derecho sobre la base de datos dev, luego presiona el bot贸n New y por 煤ltimo el bot贸n Query Console.
![](https://static.platzi.com/media/user_upload/workspace%20%E2%80%93%20console%203_3_2023%209_44_29%20AM-6a4c3f46-28c5-4fc5-b0e1-7e323c4b5f7c.jpg)

Esto abrir谩 el editor de queries para Redshift.
![](https://static.platzi.com/media/user_upload/query_console-d9e3db12-762b-4cd2-93c5-db2ec5b145cc.jpg)

Descarga este script de SQL donde encontrar谩s los comandos CREATE para las seis tablas de nuestro target.

El script contiene lo siguiente:
![](https://static.platzi.com/media/user_upload/create_1-70646988-da49-43ef-acf3-53bf8d137633.jpg)


![](https://static.platzi.com/media/user_upload/create_2-47922166-064c-415c-a0fb-9801382a72fe.jpg)

Cada comando ha sido creado con base en las necesidades de datos que se insertar谩n en ellas. Aprender谩s a dise帽ar este tipo de tablas con m谩s detalle en cursos de Datawarehousing y modelamiento OLAP que tomar谩s m谩s adelante en la ruta de Data Engineer.

Copia y pega el contenido del script de SQL en el Query Console.
![](https://static.platzi.com/media/user_upload/query_script-c2fbebc8-e905-4b06-bcb6-f660217d4426.jpg)

Ejecuta el query. Al terminar su ejecuci贸n haz refresh a la base de datos, ve al schema public y ver谩s las tablas agregadas.
![](https://static.platzi.com/media/user_upload/tables_created-d2b1f66e-b784-43d7-afde-a209706882bf.jpg)

锔Es normal que veas otras tablas que no creaste. Son las que se crean por defecto para la prueba gratis de Redshift. No hace falta que las borres.

2. Configura las variables de entorno en tu OS
Antes de continuar es muy importante que guardes como variables de tu entorno de trabajo los datos de acceso a tu cuenta de AWS y cl煤ster de Redshift.

锔Esto se hace por seguridad para que los datos de acceso no queden expuestos en el c贸digo y que puedan ser obtenidos por personas que no deber铆an tenerlas.

Para ello ve a la consola de AWS y selecciona en la parte superior derecha tu nombre de usuario. Esto despliega un men煤. Da clic en el bot贸n Credenciales de seguridad.
![](https://static.platzi.com/media/user_upload/AWS%20Management%20Console%20%E2%80%94%20Mozilla%20Firefox%203_3_2023%2010_15_44%20AM-64a58d8c-4460-4902-9fca-a3b50b3921ff.jpg)

Baja hasta la secci贸n Claves de acceso y da clic en el bot贸n Crear clave de acceso.
![](https://static.platzi.com/media/user_upload/clave_acceso_aws-9ce0a055-e582-4d83-9014-7094252d5343.jpg)

Marca el check y da clic sobre el bot贸n naranja Crear clave de acceso.
![](https://static.platzi.com/media/user_upload/clave_iam-9d6adf18-8684-48ef-b16f-217c0d696e5d.jpg)

Esto generar谩 una clave de acceso y una clave de acceso secreta con la que te podr谩s conectar a tu cuenta de AWS desde la notebook de Python. C贸pialas y gu谩rdalas en un lugar seguro. Tambi茅n puedes descargar el archivo CSV.

Una vez guardadas las claves da clic en el bot贸n naranja Listo.
![](https://static.platzi.com/media/user_upload/CLAVES-922bcdd0-73c6-4099-a24a-260c871a9698.jpg)

Ya que tienes estas claves de acceso IAM y las credenciales del cl煤ster de Redshift, crea las siguientes variables de entorno dentro de tu entorno de desarrollo en tu sistema operativo, ya sea que uses WSL, Linux o macOS:

- aws_access_key_id: es la clave de acceso IAM de AWS.
- aws_secret_access_key: es la clave de acceso secreta IAM de AWS.
- host: la direcci贸n del cl煤ster de Redshift. Es la url del punto de enlace que copiaste eliminando la parte final :5439/dev. Tendr谩 una forma como server.redshift.amazonaws.com
- database: dev
- user: demoplatzi
- password: la que le hayas puesto a tu cl煤ster de AWS Redshift cuando lo creaste.

Si no recuerdas c贸mo crear variables de entorno, te sugiero vuelvas a ver esta clase del Curso de Introducci贸n a la Terminal y L铆nea de Comandos.

隆Listo, ya tienes las variables de entorno creadas! Las usar谩s en la pr贸xima clase para conectarte de Python a tu bucket de S3 y tu cl煤ster de AWS.

锔Recuerda que la notebook que est茅s usando debe estar corriendo desde el entorno del sistema operativo donde configuraste las variables de entorno, de lo contrario no funcionar谩 tu c贸digo porque no encontrar谩 esas variables que se acceder谩n con os.environ.get('nombre_variable_entorno).

# <a name="mark_10"></a> Carga
### [Index](#index)

In [46]:
#Creando archivos csv para la carga.
df_trades_final.to_csv('target/trades.csv', index=False, sep='|')
df_countries.to_csv('target/countries.csv', index=False, sep='|')
df_codes.to_csv('target/codes.csv', index=False, sep='|')
df_quantity.to_csv('target/quantity.csv', index=False, sep='|')
df_flow.to_csv('target/flow.csv', index=False, sep='|')
df_year.to_csv('target/year.csv', index=False, sep='|')

In [ ]:
import os
import boto3 #conecci贸n a "S3"
import redshift_connector as rc

client=boto3.client(
    's3',#tipo de conecci贸n
    #Debo tener creadas mis variables de entorno "AWS_ACCESS_KEY_ID", y "AWS_SECRET_ACCESS_KEY"
    aws_access_key_id=os.environ.get('AWS_ACCESS_KEY_ID'),
    aws_secret_access_key=os.environ.get('AWS_SECRET_ACCESS_KEY')
)

#nuevamente todos los datos se encuentran en la variable de entorno.
conn=rc.connect(
    host=os.environ.get('redshift_host'),
    database=os.environ.get('redshift_database'),
    port=5439,
    user=os.environ.get('redshift_user'),
    password=os.environ.get('redshift_pass')
)

#Abriendo conecci贸n en redshift.
cursor=conn.cursor()

In [ ]:
#Subri archivos a S3 y hacer un copy a redshift para cargar a trav茅z de S3.
def load_file(file_name):
    table_name=file_name.split('.')[0]# ej "file.csv", solo toma "file"
    client.upload_file(
        Filename=f'target/{file_name}',
        Bucket='platzi-etl',#Bucket en S3
        key=f'course_etl_target{file_name}/'#C贸mo se cargar谩 el archivo
    )
    #todos los par谩metros para la conecci贸n y carga, hay que revisar 
    sentence=''f'copy etl_test.{table_name}' from f's3://platzi_etl_target/{file_name}' credentials f'aws_access_key_id={os.environ.get('AWS_ACCESS_KEY_ID')}';
    f'aws_secret_access_key={os.environ.get('AWS_SECRET_ACCESS_KEY')}' csv delimiter '|' region 'us-west-2' ignoreheader 1 ''
    try:
        cursor.execute(sentence)
        print('Ok en la tabla '+table_name)
    except:
        print('Error en la tabla '+table_name)

# <a name="mark_11"></a> Estructurar sentence para carga de datos de S3 a Redshift
### [Index](#index)

En la clase anterior definimos esta funci贸n de carga de archivos en nuestra notebook de Python:
![](https://static.platzi.com/media/user_upload/sentence-85144aa1-bb6c-4cb3-bdde-27e2b85db1f6.jpg)

Dentro de esta funci贸n esta la variable sentence, que es una secuencia de texto con una instrucci贸n para copiar los registros de los archivos CSV, que est谩n dentro del bucket de S3, hacia la base de datos dev que est谩 en un schema.

Esta sentencia debe configurarse espec铆ficamente para el schema de tu base de datos y la direcci贸n de tu bucket en S3.

Revisitemos tres componentes principales dentro de la sentencia:
![](https://static.platzi.com/media/user_upload/sentence_partes-e47a62d8-fdc1-40b1-bc1f-d1e358ae8531.jpg)

- Schema en DB en Redshift: es el schema de nuestra base de datos donde est谩n las tablas a donde se copiar谩n los registros de los archivos CSV. Este debe ser remplazado por ese schema, que en tu caso deber铆a ser public en lugar de etl_test

- Nombre de bucket de S3: direcci贸n del bucket donde se guardan temporalmente los archivos CSV. En tu caso debe remplazarse 's3://platzi-etl/course_etl_target/{}' por el nombre 煤nico de tu bucket. Si tu bucket se llamara nombre-unico-bucket-curso-platzi en la sentencia deber铆a estar 's3://nombre-unico-bucket-curso-platzi{}'

- Regi贸n elegida de AWS: es esa regi贸n donde creaste el cl煤ster de Redshift. En caso de que no lo hayas hecho en la regi贸n us-west-2 escribe el c贸digo de la regi贸n que elegiste.

Tu sentence deber铆a verse de forma similar a la siguiente, pero recuerda que no ser谩 id茅ntica porque el nombre de tu bucket es 煤nico en el mundo:

```python
sentence = '''copy public.{} from 's3://nombre-unico-bucket-curso-platzi/{}' credentials 'aws_access_key_id={};aws_secret_access_key={}' csv delimiter '|' region 'us-west-2' ignoreheader 1'''.format(table_name, file_name, os.environ.get('AWS_ACCESS_KEY_ID'), os.environ.get('AWS_SECRET_ACCESS_KEY'))
```

In [ ]:
#carga automatizada de los archivos csv
list_files=os.listdir('target/')
for file in list_files:
    load_files(file)

In [ ]:
#commit para acepte los cambios
conn.commit()

In [ ]:
#para cerrar la conecci贸n
conn.close()

# <a name="mark_12"></a> Pentaho Pipeline
### [Index](#index)

[pentaho_download](https://www.hitachivantara.com/en-us/products/pentaho-platform/data-integration-analytics/pentaho-community-edition.html)
![](img_01.png)

1. Extraer el archivo en una carpeta.
2. Ejecutar Spoon (Windows Batch file)
![](img_02.png)
3. En consola principalgenerar nueva conecci贸n.
![](img_03.png)
4. Datos de conecci贸n para Postgresql.
![](img_04.png)
5.Completando datos en "pentaho".
![](img_05.png)

# <a name="mark_13"></a> Extracci贸n de DDBB Postgres.
### [Index](#index)

1. Extracci贸n desde Posgres.
![](img_06.png)
2. Elegir "Table Input" para leer desde la DDBB.
![](img_07.png)
3. Doble click sobre el nuevo 铆cono de "Table Input".
![](img_08.png)
4. Ejecutamos "Run" (Guardamos si nos pide guardar)
![](img_09.png)
5. Luego vamos a "Preview Data"
![](img_10.png)

# <a name="mark_14"></a> Extracci贸n de CSV File.
### [Index](#index)
1. Buscar "CSV file input" drag and drop.
![](img_11.png)
2. Doble click sobre el 铆cono, colocar nombre del step y ubicaci贸n del archivo en local.
![](img_12.png)
3. Obtener previsualizaci贸n.
![](img_13.png)

![](img_14.png)
4. Click en "Preview" para cargar.
![](img_15.png)

![](img_16.png)

5. Cerramos y damos en OK
6. Ejecutar "Run", "Guardamos" y "Previsualizamos".
![](img_17.png)

# <a name="mark_15"></a> Extracci贸n de JSON File.
### [Index](#index)

1. Buscar "json input" drag and drop.
![](img_18.png)
2. Doble click sobre el 铆cono, colocar nombre del step y ubicaci贸n del archivo en local + "add".
![](img_19.png)
3. Al ser un archivo de datos no estructurado, click en "Fields", creamos la estructura y previsualizamos.
![](img_20.png)

![](img_21.png)

4. Ejecutamos con "Run", "Guardamos", y "Preview".
![](img_22.png)

![](img_23.png)

# <a name="mark_16"></a> CVS "Codes" FileTransformaci贸n.
### [Index](#index)

Repetimos el mismo flujo de transformaci贸n utilizado con Python.

1. Aplicamos el filtro para que "Code-comm" no tenga valores nulos.
![](img_24.png)

![](img_25.png)

![](img_26.png)

![](img_27.png)

2. Aplicamos un segundo filtro "copiando las filas".
![](img_28.png)

![](img_29.png)

![](img_30.png)

3. Seleccionando columnas.
![](img_31.png)

![](img_32.png)

![](img_33.png)

4. Calculando la longitud de "Code".
![](img_34.png)

5. Click sobre el nuevo 铆cono, colocar "Step name" y "New field"
![](img_35.png)

6. Creando la l贸gica, click en "Calculation".
![](img_36.png)

7. Ejecutamos, Guardamos y Previsualizamos.
![](img_37.png)

![](img_38.png)

8. Filtrando lo que son de longitud 11 y los que no lo son.
    - Primero nos aseguramos de colocar el valor que usaremos de "Code" del tipo "String"
![](img_39.png)

![](img_40.png)

![](img_41.png)

![](img_42.png)

9. Unimos ambos "df" con "Append streams"
![](img_43.png)

![](img_44.png)

10. Realizamos el "Merge" de ambos flulos.
![](img_45.png)

- recibimos una advertencia que nos indica que si los datos no han sido previamente clasificados podemos obtener un resultado invalidos.
![](img_46.png)
- Y luego ejecutamos "Run"
![](img_47.png)

11. Agregando un identificador 煤nico, "Add sequence", luego ejecutamos.
![](img_48.png)

![](img_49.png)

12. Seleccionamos columnas.
![](img_50.png)

![](img_51.png)

# <a name="mark_17"></a> JSON "country" FileTransformaci贸n.
### [Index](#index)

![](img_52.png)

![](img_53.png)

![](img_54.png)

# <a name="mark_18"></a> Postgres DDBB Transformaci贸n-Dimensiones y selecci贸n final.
### [Index](#index)

1. Ordenamos los valores seg煤n sus columnas "quantity" "year", y "flow", generando un sort por cada columna deseada.
![](img_55.png)

2. Generamos valores 煤nicos para cada flujo.
![](img_56.png)

3. Generamos los id para cada flujo
![](img_57.png)

4. Seleccionamos las columnas necesarias en cada flujo. 
![](img_58.png)

5. Creamos una copia Dummy (la cual no hace nada), tambi茅n puede hacerce sin el dummy.
![](img_59.png)

6. Hacemos un "Stream Lookup" --> un merge por una llave para obtener un valor en especifico, en cada flujo.
- Explicaci贸n de donde viene cada columna y dato.
![](img_60.png)

![](img_61.png)

![](img_62.png)

![](img_63.png)

![](img_64.png)

![](img_65.png)

![](img_66.png)

![](img_67.png)


7. Agregamos "id_trade".
![](img_68.png)

8. Seleccionamos los valores que necesitamos.
![](img_69.png)

# <a name="mark_19"></a> Carga de datos en Redshift.
### [Index](#index)

1. Crear la conecci贸n a Redshift con los par谩metros correspondientes.
![](img_70.png)

2. Cargar los datos en Design --> Output utilizando las multiples opciones para generar un Output, CSV, JSON, S3, o una conecci贸n a una DDBB en especial con "Table output"
![](img_71.png)

3. Para cargar en Redshift seleccionar "Table output" y completar los par谩metros solicitados.